@page
@model PrivacyModel
@inject ESchoolRazor.SharedViewLocalizer Localizer
@{
    ViewData["Title"] = Localizer.GetLocalizedString("Privacy");
}
<h1>@ViewData["Title"]</h1>

<p>@Localizer.GetLocalizedString("Use this page to detail your site's privacy policy.")</p>
